// you can change colors here
$theme-color: #096dd9;
// $color-transition: 0s;
// $transform-transition: 0s;
.theme-hope-conten::-webkit-scrollbar-thumb:vertical{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 8px;
    background-color: #e6e6e6;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }